<div class="container">

            <!--Section: Jumbotron-->
            <section class="card wow fadeIn" style="background-image: url(https://mdbootstrap.com/img/Photos/Others/gradient1.jpg);">

                <!-- Content -->
                <div class="card-body text-white text-center py-5 px-5 my-5">

                    <h1 class="mb-4">
                        <strong>Welcome To CoopTv</strong>
                    </h1>
                    <p>
                        <strong>The best New Platform to store your favorite youtube videos into Coops</strong>
                    </p>
                    <p class="mb-4">
                        <strong>Create as many Coops as you like ALL FOR FREE</strong>
                    </p>
                    <a href="{% url 'signup' %}" class="btn btn-outline-white btn-lg">Create Free Account
                        {% comment %} <i class="fas fa-graduation-cap ml-2"></i> {% endcomment %}
                    </a>

                </div>
                <!-- Content -->
            </section>
            <!--Section: Jumbotron-->